@using People.Data
<a href="/home/addpeople">Add People</a>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    @foreach (Person p in Model)
    {
        <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@p.Age</td>

        </tr>
    }

</table>